@import url(reset.css);
@import url(960gs.css);
@import url(text.css);
@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

html{
	background: url(wall4_@2X.png);
	background-repeat: repeat;
}
header{
	display: inline-block;
	margin: 15px 0px 5px 0px;
	background-image: url(banner.png);
	background-repeat: no-repeat;
	background-position: center;
	width:417px;
	height:250px;
	text-indent:-9999px; /**將文字往旁邊推到遠方**/
	position: relative;
}
#nav_bottom{
	display: inline-block;
	position:relative;
	float:left;
	
	height:20px;
	margin:10px;
	text-align:center;
	
/**	background-color: #FCFAF2;
	border-radius: 90px;**/ 
}

#nav_bottom:hover{
border:solid #A96360 1px;
	border-top:0px;
	border-right:0px;
	border-left:0px; 

}
nav{
	display:inline-block;
	position: relative;
	width:945px;
	height:30px;
	top: 5px;
	border:solid black 1px;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	font-size: 18px;
	font-family: 'Julius Sans One','Sacramento', 'cursive', 'Arial', 'Helvetica', 'sans-serif'; 
}

h1 {
	display:inline-block;
	font-size:18px;
	font-family:'Julius Sans One','Sacramento', 'Arial', 'Helvetica', 'sans-serif';
	line-height: 100%;
}

h2 {
	display:inline-block;
	font-size:18px;
	font-family:'Julius Sans One','Sacramento', 'Arial', 'Helvetica', 'sans-serif';
	line-height: 100%;	
}

#profile_pic{
	display:inline-block;
	float:left;
	width:100px;
	height:94px;
	border:solid #9E7A7A 1px;
	position:relative;
	top:30px;	
	left:20px;
	margin-right: 5px;
}

#profile{
	display:inline-block;
	position:relative;
	float:left;
	width:180px;
	top:21px;
	left:25px;
}

#page{
	display:inline;
	position:absolute;
	width:960px;
	height:700px;
	margin-top: 440px;
}

#formbox{
	display: inline-block;
	position: relative;
	left: 30px;
	top:20px;
	margin-bottom: 100px;

}
.article{
	display: inline-block;
	width: 250px;
	height: 300px;
	position: relative;
	margin-right:60px;
	margin-top:40px; 
	}

/**article box transition start**/

.article_text{
	display:inline-block;
	position:absolute;
	margin:15px 0px 0px 0px;
	padding:15px;
	background-color: rgb(255, 255, 255);
   
    text-align: left;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;
    opacity: .0;
  }

.article_text:hover{
    opacity: 0.85;
  }
  
/**article box transition end**/

.article_text p{
	line-height: 100%;
}

#space{
	display:block;
	width:1200px;
	height:80px;	
}

#footer{
	display: inline-block;
	position: relative;
	top:550px;
	margin-bottom: 50px;
	width: 960px;
	height:180px; 
}

#footer_box{
	display: inline-block;
	position: relative;
	width: 900px;
	height: 130px;
	border:solid black 1px;
	border-left:0px;
	border-right: 0px;
	border-bottom: 0px;
	padding: 10px;
	background: url(footer_pic.png);
	background-repeat: no-repeat;
	background-position: right;

}

#footer_text{
	display: inline-block;
	position: relative;
	font-family: 'Julius Sans One','Sacramento', 'cursive', 'Arial', 'Helvetica', 'sans-serif'; 
}

#search {

}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 12px 'Julius Sans One','Sacramento', 'cursive', 'Arial', 'Helvetica', 'sans-serif';
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }


a:link{
text-decoration:none;
color:black;
}

a:hover{
	color:#A96360;
}

a:active{
	color:#A96360;
}